EMAIL:
  FROM: 'info@decabits.com'
  USERNAME: 'info@decabits.com'
  PASSWORD: <YOUR_PASSWORD>
  HOST_URL: 'localhost'
  HOST_PORT: 2525
  HOST_ADDRESS: 'smtp.elasticemail.com'
  DOMAIN: 'decabits.com'
